{% extends 'mainapp/base.html' %}
{% load static %}

{% block css %}
    <!-- Custom styles for this template -->
    <link href="{% static 'css/products.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <div class="col-lg-3">

                <h1 class="my-4">GeekShop</h1>
                <div class="list-group">
                    <a href="{% url 'mainapp:products' %}" class="list-group-item">Все</a>
                    {% for cat in categories %}
                        <a href="{% url 'mainapp:category' cat.id 1 %}" class="list-group-item">{{ cat.name }}</a>
                    {% endfor %}
                </div>

            </div>
            <!-- /.col-lg-3 -->

            <div class="col-lg-9">

                <div id="carouselExampleIndicators" class="carousel slide my-4" data-ride="carousel">
                    <ol class="carousel-indicators">
                        {% for slide in sliderphotos %}
                            <li data-target="#carouselExampleIndicators" data-slide-to="{{ forloop.counter0 }}"
                                    {% if forloop.counter0 == 0 %} class="active"{% endif %}></li>
                        {% endfor %}
                    </ol>
                    <div class="carousel-inner" role="listbox">
                        {% for slide in sliderphotos %}
                            <div class="carousel-item{% if forloop.counter0 == 0 %} active{% endif %}">
                                <img class="d-block img-fluid" src="{% get_static_prefix %}{{ slide.img }}"
                                     alt="{{ slide.alt }} slide">
                            </div>
                        {% endfor %}
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>

                {% include 'mainapp/includes/card.html' %}

                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                        <li class="page-item{% if not page_obj.has_previous %} disabled{% endif %}">
                            <a class="page-link" href="{% if page_obj.has_previous %}{% url 'mainapp:category' cat_id page_obj.previous_page_number %}{% endif %}"
                               tabindex="-1" aria-disabled="true">Previous</a>
                        </li>

                        {% for page in page_obj.paginator.page_range %}
                            <li class="page-item"><a class="page-link" href="{% url 'mainapp:category' cat_id page %}">{{ page }}</a></li>
                        {% endfor %}

                        <li class="page-item{% if not page_obj.has_next %} disabled{% endif %}">
                            <a class="page-link" href="{% if page_obj.has_next %}{% url 'mainapp:category' cat_id page_obj.next_page_number %}{% endif %}">Next</a>
                        </li>
                    </ul>
                </nav>

            </div>

        </div>

    </div>
    <!-- /.container -->
{% endblock %}

{% block footer %}
    <!-- Footer -->
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; GeekShop 2020</p>
        </div>
        <!-- /.container -->
    </footer>
{% endblock %}